ejemplo-tienda/n8n-workflows/core-workflows/02-CONVERSION-DETECTOR.json
{
  "nodes": [
    {
      "parameters": {
        "jsCode": "// 🔍 CONVERSION DETECTOR - Detecta conversiones en eventos\n// Recibe datos del visitor-processor cuando es ejecutado vía executeWorkflow\nconst payload = $input.first().json;\n\nconsole.log('🔍 === CONVERSION DETECTOR v2.1 ===');\nconsole.log('📥 Payload recibido desde visitor-processor:', JSON.stringify(payload).substring(0, 300) + '...');\n\n// El payload viene directamente del visitor-processor con esta estructura:\n// { session: {...}, visitor: {...}, events: [...], hasConversion: boolean }\nconst session = payload.session || {};\nconst events = payload.events || [];\nconst visitor = payload.visitor || {};\nconst hasConversionFromVisitor = payload.hasConversion || false;\n\n// Validación básica\nif (!session.id) {\n  console.error('❌ Session ID faltante en payload del visitor-processor');\n  return {\n    json: {\n      success: false,\n      error: 'Missing session ID from visitor-processor',\n      conversionDetected: false\n    }\n  };\n}\n\nconsole.log(`🔗 Session ID: ${session.id}`);\nconsole.log(`👤 Visitor ID: ${session.visitorId || visitor.id || 'N/A'}`);\nconsole.log(`🏢 Business ID: ${session.businessId || visitor.businessId}`);\nconsole.log(`📊 Events Count: ${events.length}`);\nconsole.log(`⚡ Duration: ${session.timing?.duration || 0}ms`);\nconsole.log(`🎯 Pre-detection from visitor: ${hasConversionFromVisitor}`);\n\n// 🎯 ALGORITMO DE DETECCIÓN DE CONVERSIÓN AVANZADO\nlet conversionIndicators = {\n  thankYouPage: false,\n  formSubmit: false,\n  purchaseButton: false,\n  formInteraction: false,\n  conversionKeywords: false,\n  timeThreshold: false,\n  preDetected: hasConversionFromVisitor\n};\n\n// 1. Detectar página de gracias (usar campos correctos del session)\nif (session.pageUrl || session.currentUrl) {\n  const pageUrl = session.pageUrl || session.currentUrl || '';\n  const thankYouPatterns = [\n    '/thank-you', '/gracias', '/success', '/confirmacion',\n    '/confirmation', '/complete', '/pedido-confirmado',\n    '/orden-completa', '/compra-exitosa'\n  ];\n  \n  conversionIndicators.thankYouPage = thankYouPatterns.some(pattern => \n    pageUrl.toLowerCase().includes(pattern)\n  );\n}\n\n// 2. Detectar interacciones con formularios\nconst formEvents = events.filter(e => \n  e.eventType === 'user_interaction' && \n  (e.metadata?.category === 'form' || \n   e.metadata?.elementType === 'form' ||\n   e.metadata?.actionType === 'form_submit')\n);\n\nif (formEvents.length > 0) {\n  conversionIndicators.formInteraction = true;\n  \n  // Detectar submit específico\n  const submitEvents = formEvents.filter(e => \n    e.metadata?.actionType === 'click' ||\n    e.metadata?.actionType === 'form_submit' ||\n    (e.metadata?.elementText && (\n      e.metadata.elementText.toLowerCase().includes('enviar') ||\n      e.metadata.elementText.toLowerCase().includes('submit') ||\n      e.metadata.elementText.toLowerCase().includes('comprar') ||\n      e.metadata.elementText.toLowerCase().includes('quiero') ||\n      e.metadata.elementText.toLowerCase().includes('solicitar')\n    ))\n  );\n  \n  if (submitEvents.length > 0) {\n    conversionIndicators.formSubmit = true;\n  }\n}\n\n// 3. Detectar botones de compra/conversión\nconst purchaseEvents = events.filter(e => \n  e.eventType === 'user_interaction' &&\n  e.metadata?.elementText &&\n  (e.metadata.elementText.toLowerCase().includes('comprar') ||\n   e.metadata.elementText.toLowerCase().includes('buy') ||\n   e.metadata.elementText.toLowerCase().includes('purchase') ||\n   e.metadata.elementText.toLowerCase().includes('solicitar') ||\n   e.metadata.elementText.toLowerCase().includes('contactar') ||\n   e.metadata.elementText.toLowerCase().includes('$'))\n);\n\nif (purchaseEvents.length > 0) {\n  conversionIndicators.purchaseButton = true;\n}\n\n// 4. Detectar palabras clave de conversión\nconst conversionKeywords = [\n  'quiero', 'comprar', 'buy', 'purchase', 'enviar', 'submit',\n  'descargar', 'download', 'obtener', 'get', 'suscribir',\n  'solicitar', 'contactar', 'llamar', 'reservar'\n];\n\nconst textEvents = events.filter(e => e.metadata?.elementText);\nconversionIndicators.conversionKeywords = textEvents.some(e => \n  conversionKeywords.some(keyword => \n    e.metadata.elementText.toLowerCase().includes(keyword)\n  )\n);\n\n// 5. Umbral de tiempo (usar timing.duration del session)\nconst sessionDuration = session.timing?.duration || session.duration || 0;\nif (sessionDuration > 10000) { // 10 segundos\n  conversionIndicators.timeThreshold = true;\n}\n\n// 🎯 DETERMINAR SI HAY CONVERSIÓN (usar lógica mejorada)\nconst conversionDetected = \n  conversionIndicators.thankYouPage ||\n  conversionIndicators.formSubmit ||\n  conversionIndicators.preDetected ||\n  (conversionIndicators.formInteraction && conversionIndicators.purchaseButton) ||\n  (conversionIndicators.formInteraction && conversionIndicators.timeThreshold) ||\n  (conversionIndicators.purchaseButton && conversionIndicators.timeThreshold);\n\n// 🎯 CALCULAR SCORE DE CONVERSIÓN\nlet conversionScore = 0;\nif (conversionIndicators.thankYouPage) conversionScore += 50;\nif (conversionIndicators.formSubmit) conversionScore += 30;\nif (conversionIndicators.preDetected) conversionScore += 25;\nif (conversionIndicators.purchaseButton) conversionScore += 20;\nif (conversionIndicators.formInteraction) conversionScore += 15;\nif (conversionIndicators.conversionKeywords) conversionScore += 10;\nif (conversionIndicators.timeThreshold) conversionScore += 5;\n\n// 🎯 DETERMINAR TIPO DE CONVERSIÓN\nlet conversionType = 'unknown';\nif (conversionIndicators.thankYouPage) conversionType = 'thank_you_page';\nelse if (conversionIndicators.formSubmit) conversionType = 'form_submit';\nelse if (conversionIndicators.purchaseButton) conversionType = 'purchase_intent';\nelse if (conversionIndicators.preDetected) conversionType = 'visitor_detected';\nelse if (conversionIndicators.formInteraction) conversionType = 'form_interaction';\n\n// Helper para generar UUID v4\nfunction uuidv4() {\n  return 'xxxxxxxx-xxxx-4xxx-yxxx-xxxxxxxxxxxx'.replace(/[xy]/g, function(c) {\n    var r = Math.random() * 16 | 0, v = c == 'x' ? r : (r & 0x3 | 0x8);\n    return v.toString(16);\n  });\n}\n\n// Obtener UTC timestamp\nconst detectedAt = new Date().toISOString();\n\n// Estructura de datos para los siguientes workflows\nconst result = {\n  success: true,\n  conversionDetected: conversionDetected,\n  conversionData: {\n    sessionId: session.id,\n    visitorId: session.visitorId || visitor.id,\n    businessId: session.businessId || visitor.businessId || '00000000-0000-0000-0000-000000000001',\n    activityId: uuidv4(), // ID único para el log de actividad\n    conversionType: conversionType,\n    conversionScore: conversionScore,\n    indicators: conversionIndicators,\n    detectedAt: detectedAt,\n    pageUrl: session.pageUrl || session.currentUrl,\n    pageTitle: session.pageTitle || session.currentTitle,\n    formEvents: formEvents.length,\n    totalEvents: events.length,\n    sessionDuration: sessionDuration,\n    attribution: session.attribution || {},\n    deviceInfo: session.deviceInfo || {}\n  },\n  // Pasar datos completos para siguientes workflows\n  session: session,\n  visitor: visitor,\n  events: events,\n  originalPayload: payload\n};\n\nconsole.log(`🎯 Conversión detectada: ${conversionDetected}`);\nconsole.log(`📊 Score: ${conversionScore}`);\nconsole.log(`🏷️ Tipo: ${conversionType}`);\nconsole.log('🔍 Indicadores:', conversionIndicators);\nconsole.log(`⏱️ Duración sesión: ${sessionDuration}ms`);\n\nreturn { json: result };"
      },
      "id": "0f0884ae-158f-4dbf-bcfa-4acc851cee2f",
      "name": "Detect Conversion",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        -464,
        112
      ]
    },
    {
      "parameters": {
        "conditions": {
          "options": {
            "caseSensitive": true,
            "leftValue": "",
            "typeValidation": "strict",
            "version": 1
          },
          "conditions": [
            {
              "id": "conversion-detected",
              "leftValue": "={{ $json.conversionDetected }}",
              "rightValue": true,
              "operator": {
                "type": "boolean",
                "operation": "true",
                "singleValue": true
              }
            },
            {
              "id": "8066710f-6ed3-4efa-a18e-8ef72872b37a",
              "leftValue": "={{ $json.conversionDetected }}",
              "rightValue": "",
              "operator": {
                "type": "boolean",
                "operation": "true",
                "singleValue": true
              }
            }
          ],
          "combinator": "or"
        },
        "options": {}
      },
      "id": "6d85fb87-e0f6-42e2-bf7e-77a6816c755d",
      "name": "Check Conversion",
      "type": "n8n-nodes-base.if",
      "typeVersion": 2,
      "position": [
        -240,
        112
      ]
    },
    {
      "parameters": {
        "schema": {
          "__rl": true,
          "value": "public",
          "mode": "list",
          "cachedResultName": "public"
        },
        "table": {
          "__rl": true,
          "value": "activities",
          "mode": "list",
          "cachedResultName": "activities"
        },
        "columns": {
          "mappingMode": "defineBelow",
          "value": {
            "id": "={{ $json.conversionData.activityId }}",
            "businessId": "={{ $json.conversionData.businessId }}",
            "type": "conversion_detected",
            "category": "tracking",
            "entityType": "visitor",
            "entityId": "={{ $json.conversionData.visitorId }}",
            "leadId": null,
            "contactId": null,
            "title": "={{ `Conversion Detected: ${$json.conversionData.conversionType}` }}",
            "description": "={{ `Visitor conversion detected - Type: ${$json.conversionData.conversionType} - Score: ${$json.conversionData.conversionScore}` }}",
            "data": "={{ JSON.stringify({ conversionType: $json.conversionData.conversionType, conversionScore: $json.conversionData.conversionScore, indicators: $json.conversionData.indicators, sessionId: $json.conversionData.sessionId, formEvents: $json.conversionData.formEvents, totalEvents: $json.conversionData.totalEvents, sessionDuration: $json.conversionData.sessionDuration }) }}",
            "metadata": "={{ JSON.stringify({ session: { id: $json.conversionData.sessionId, pageUrl: $json.conversionData.pageUrl, pageTitle: $json.conversionData.pageTitle }, detection: { type: $json.conversionData.conversionType, timestamp: $json.conversionData.detectedAt, score: $json.conversionData.conversionScore }, attribution: $json.conversionData.attribution, deviceInfo: $json.conversionData.deviceInfo }) }}",
            "source": "conversion_detector",
            "createdAt": "={{ $json.conversionData.detectedAt }}"
          },
          "matchingColumns": [
            "id"
          ],
          "schema": [
            {
              "id": "id",
              "displayName": "id",
              "required": true,
              "defaultMatch": true,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": false
            },
            {
              "id": "businessId",
              "displayName": "businessId",
              "required": true,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": false
            },
            {
              "id": "type",
              "displayName": "type",
              "required": true,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": false
            },
            {
              "id": "category",
              "displayName": "category",
              "required": true,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": false
            },
            {
              "id": "entityType",
              "displayName": "entityType",
              "required": true,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": false
            },
            {
              "id": "entityId",
              "displayName": "entityId",
              "required": true,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": false
            },
            {
              "id": "leadId",
              "displayName": "leadId",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": false
            },
            {
              "id": "contactId",
              "displayName": "contactId",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": false
            },
            {
              "id": "title",
              "displayName": "title",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": false
            },
            {
              "id": "description",
              "displayName": "description",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": false
            },
            {
              "id": "data",
              "displayName": "data",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "object",
              "canBeUsedToMatch": true,
              "removed": false
            },
            {
              "id": "metadata",
              "displayName": "metadata",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "object",
              "canBeUsedToMatch": true,
              "removed": false
            },
            {
              "id": "createdBy",
              "displayName": "createdBy",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": false
            },
            {
              "id": "source",
              "displayName": "source",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": false
            },
            {
              "id": "createdAt",
              "displayName": "createdAt",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "dateTime",
              "canBeUsedToMatch": true,
              "removed": false
            }
          ],
          "attemptToConvertTypes": false,
          "convertFieldsToString": false,
          "values": {}
        },
        "options": {}
      },
      "id": "f0d3d510-01f3-4681-a197-e60e6b38aaed",
      "name": "Log Conversion Activity",
      "type": "n8n-nodes-base.postgres",
      "typeVersion": 2.5,
      "position": [
        -16,
        16
      ],
      "credentials": {
        "postgres": {
          "id": "V6Wg0EpZSpeIWJlp",
          "name": "PostgreSQL"
        }
      }
    },
    {
      "parameters": {
        "respondWith": "json",
        "responseBody": "={{ JSON.stringify({ success: true, conversionDetected: $json.conversionDetected, conversionType: $json.conversionData.conversionType, conversionScore: $json.conversionData.conversionScore, sessionId: $json.conversionData.sessionId }) }}",
        "options": {}
      },
      "id": "02a6bc8e-9e36-495c-a603-df950ce91a78",
      "name": "Response Conversion",
      "type": "n8n-nodes-base.respondToWebhook",
      "typeVersion": 1,
      "position": [
        432,
        112
      ]
    },
    {
      "parameters": {
        "inputSource": "passthrough"
      },
      "type": "n8n-nodes-base.executeWorkflowTrigger",
      "typeVersion": 1.1,
      "position": [
        -688,
        112
      ],
      "id": "b2eefcc2-f044-49aa-b520-e14194886141",
      "name": "When Executed by Another Workflow"
    },
    {
      "parameters": {
        "workflowId": {
          "__rl": true,
          "value": "eAriSC6mXndxYXwv",
          "mode": "list",
          "cachedResultName": "03-LEAD-PROCESSOR"
        },
        "workflowInputs": {
          "mappingMode": "defineBelow",
          "value": {},
          "matchingColumns": [],
          "schema": [],
          "attemptToConvertTypes": false,
          "convertFieldsToString": true
        },
        "options": {}
      },
      "type": "n8n-nodes-base.executeWorkflow",
      "typeVersion": 1.2,
      "position": [
        208,
        16
      ],
      "id": "7561678f-642c-4db9-bde3-65222360fa5d",
      "name": "Execute Lead Processor"
    },
    {
      "parameters": {
        "workflowId": {
          "__rl": true,
          "value": "KeUxO1TXQVBYzLSo",
          "mode": "list",
          "cachedResultName": "04-ACTIVITY-LOGGER"
        },
        "workflowInputs": {
          "mappingMode": "defineBelow",
          "value": {},
          "matchingColumns": [],
          "schema": [],
          "attemptToConvertTypes": false,
          "convertFieldsToString": true
        },
        "options": {}
      },
      "type": "n8n-nodes-base.executeWorkflow",
      "typeVersion": 1.2,
      "position": [
        208,
        208
      ],
      "id": "a40be5af-3b09-40c6-b736-0c722a08103a",
      "name": "Execute Activity Logger"
    }
  ],
  "connections": {
    "Detect Conversion": {
      "main": [
        [
          {
            "node": "Check Conversion",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Check Conversion": {
      "main": [
        [
          {
            "node": "Log Conversion Activity",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Execute Activity Logger",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Log Conversion Activity": {
      "main": [
        [
          {
            "node": "Execute Lead Processor",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "When Executed by Another Workflow": {
      "main": [
        [
          {
            "node": "Detect Conversion",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Execute Lead Processor": {
      "main": [
        [
          {
            "node": "Response Conversion",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Execute Activity Logger": {
      "main": [
        [
          {
            "node": "Response Conversion",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "pinData": {
    "When Executed by Another Workflow": [
      {
        "session": {
          "id": "6b421ec7-ce3f-4bbe-8bde-99e3412fa4ca",
          "businessId": "00000000-0000-0000-0000-000000000001",
          "visitorId": "3fe4bf35-30d4-44fc-b5f9-057eb1acdce8",
          "fingerprint": "fp_67187c3e",
          "pageUrl": "https://nat-pets.com/thank-you",
          "pageTitle": "8 Recetas Naturales para Perros - Transforma su Salud en 30 Días",
          "deviceInfo": {
            "userAgent": "Mozilla/5.0 (Windows NT 10.0; Win64; x64) AppleWebKit/537.36 (KHTML, like Gecko) Chrome/139.0.0.0 Safari/537.36 Edg/139.0.0.0",
            "deviceType": "desktop",
            "browser": "Edge",
            "operatingSystem": "Windows",
            "language": "en",
            "timezone": "America/Buenos_Aires",
            "screenResolution": "1920x1080",
            "viewportSize": "1865x956"
          },
          "location": {
            "ipAddress": "2800:a4:24f8:5a00:86e:2046:1e14:cc1a",
            "country": "Uruguay",
            "region": "Maldonado",
            "city": "Maldonado",
            "latitude": -34.9014,
            "longitude": -54.9516,
            "timezone": "America/Montevideo"
          },
          "attribution": {
            "referrer": "direct",
            "source": "direct",
            "medium": "none",
            "campaign": null,
            "content": null,
            "term": null,
            "fbclid": null
          },
          "timing": {
            "startTime": "2025-07-24T23:30:38.087Z",
            "endTime": "2025-07-24T23:30:53.100Z",
            "duration": 15013,
            "lastActivity": "2025-07-24T23:30:53.100Z"
          }
        },
        "visitor": {
          "id": "3fe4bf35-30d4-44fc-b5f9-057eb1acdce8",
          "businessId": "00000000-0000-0000-0000-000000000001",
          "fingerprint": "fp_67187c3e",
          "isNewVisitor": true,
          "totalVisits": 1,
          "totalPageViews": 2,
          "avgTimeOnSite": 15013,
          "score": 0,
          "isIdentified": false,
          "leadId": null,
          "contactId": null,
          "engagementScore": 72
        },
        "events": [
          {
            "eventType": "session_event",
            "metadata": {},
            "createdAt": "2025-07-24T23:30:38.193Z",
            "pageUrl": "https://nat-pets.com/"
          },
          {
            "eventType": "user_interaction",
            "metadata": {
              "elementClass": "px-3 py-1.5 text-sm font-medium text-white bg-green-600 hover:bg-green-700 rounded-md transition-colors",
              "elementTag": "button",
              "elementText": "Aceptar todo",
              "actionType": "click",
              "category": "",
              "position": {
                "x": 1280,
                "y": 930
              },
              "isExitLink": false,
              "visibleTime": 0,
              "timestamp": "2025-07-24T23:30:39.389Z"
            },
            "createdAt": "2025-07-24T23:30:39.389Z",
            "pageUrl": "https://nat-pets.com/"
          },
          {
            "eventType": "user_interaction",
            "metadata": {
              "elementClass": "bg-orange-500 text-white font-bold py-3 px-6 rounded-lg shadow-md hover:bg-orange-600 transition duration-300 transform hover:scale-105 flex items-center justify-center gap-2",
              "elementTag": "button",
              "elementText": "COMPRAR AHORA POR $15",
              "actionType": "hover",
              "category": "",
              "position": {
                "x": 519,
                "y": 760
              },
              "isExitLink": false,
              "parentSection": "header"
            },
            "createdAt": "2025-07-24T23:30:39.945Z",
            "pageUrl": "https://nat-pets.com/"
          },
          {
            "eventType": "user_activity",
            "metadata": {
              "timeOnPage": 2.004,
              "scrollPercentage": 20,
              "visibleScrollZones": [
                "0-10",
                "10-20"
              ],
              "mousePosition": {
                "x": 519,
                "y": 775
              }
            },
            "createdAt": "2025-07-24T23:30:40.091Z",
            "pageUrl": "https://nat-pets.com/"
          },
          {
            "eventType": "user_interaction",
            "metadata": {
              "elementClass": "bg-orange-500 text-white font-bold py-3 px-6 rounded-lg shadow-md hover:bg-orange-600 transition duration-300 transform hover:scale-105 flex items-center justify-center gap-2",
              "elementTag": "button",
              "elementText": "COMPRAR AHORA POR $15",
              "actionType": "click",
              "category": "",
              "position": {
                "x": 519,
                "y": 775
              },
              "isExitLink": false,
              "parentSection": "header",
              "visibleTime": 2724,
              "timestamp": "2025-07-24T23:30:40.494Z"
            },
            "createdAt": "2025-07-24T23:30:40.494Z",
            "pageUrl": "https://nat-pets.com/"
          },
          {
            "eventType": "user_interaction",
            "metadata": {
              "elementId": "name",
              "elementClass": "w-full px-5 py-4 rounded-lg border border-gray-300 focus:ring-2 focus:ring-orange-500 focus:border-orange-500 text-gray-900 bg-white",
              "elementTag": "input",
              "actionType": "click",
              "category": "form",
              "position": {
                "x": 1003,
                "y": 388
              },
              "isExitLink": false,
              "parentSection": "main_content",
              "visibleTime": 0,
              "timestamp": "2025-07-24T23:30:42.051Z"
            },
            "createdAt": "2025-07-24T23:30:42.051Z",
            "pageUrl": "https://nat-pets.com/"
          },
          {
            "eventType": "user_activity",
            "metadata": {
              "timeOnPage": 4.013,
              "scrollPercentage": 90,
              "visibleScrollZones": [
                "70-80",
                "80-90"
              ],
              "mousePosition": {
                "x": 1002,
                "y": 393
              }
            },
            "createdAt": "2025-07-24T23:30:42.100Z",
            "pageUrl": "https://nat-pets.com/"
          },
          {
            "eventType": "user_interaction",
            "metadata": {
              "elementId": "name",
              "elementClass": "w-full px-5 py-4 rounded-lg border border-gray-300 focus:ring-2 focus:ring-orange-500 focus:border-orange-500 text-gray-900 bg-white",
              "elementTag": "input",
              "actionType": "click",
              "category": "form",
              "position": {
                "x": 1024,
                "y": 393
              },
              "isExitLink": false,
              "parentSection": "main_content",
              "visibleTime": 0,
              "timestamp": "2025-07-24T23:30:42.683Z"
            },
            "createdAt": "2025-07-24T23:30:42.683Z",
            "pageUrl": "https://nat-pets.com/"
          },
          {
            "eventType": "user_activity",
            "metadata": {
              "timeOnPage": 6.007,
              "scrollPercentage": 90,
              "visibleScrollZones": [
                "70-80",
                "80-90"
              ],
              "mousePosition": {
                "x": 996,
                "y": 398
              }
            },
            "createdAt": "2025-07-24T23:30:44.094Z",
            "pageUrl": "https://nat-pets.com/"
          },
          {
            "eventType": "user_activity",
            "metadata": {
              "timeOnPage": 8.01,
              "scrollPercentage": 90,
              "visibleScrollZones": [
                "70-80",
                "80-90"
              ],
              "mousePosition": {
                "x": 996,
                "y": 398
              }
            },
            "createdAt": "2025-07-24T23:30:46.097Z",
            "pageUrl": "https://nat-pets.com/"
          },
          {
            "eventType": "user_activity",
            "metadata": {
              "timeOnPage": 12.005,
              "scrollPercentage": 90,
              "visibleScrollZones": [
                "70-80",
                "80-90"
              ],
              "mousePosition": {
                "x": 1164,
                "y": 630
              }
            },
            "createdAt": "2025-07-24T23:30:50.092Z",
            "pageUrl": "https://nat-pets.com/"
          },
          {
            "eventType": "user_interaction",
            "metadata": {
              "elementClass": "w-full bg-gray-100 text-gray-700 font-bold py-4 px-6 rounded-lg hover:bg-gray-200 transition duration-300 flex items-center justify-center",
              "elementTag": "button",
              "actionType": "click",
              "category": "form",
              "position": {
                "x": 1164,
                "y": 630
              },
              "isExitLink": false,
              "parentSection": "main_content",
              "visibleTime": 9151,
              "timestamp": "2025-07-24T23:30:50.214Z"
            },
            "createdAt": "2025-07-24T23:30:50.214Z",
            "pageUrl": "https://nat-pets.com/"
          },
          {
            "eventType": "user_activity",
            "metadata": {
              "timeOnPage": 14.005,
              "scrollPercentage": 90,
              "visibleScrollZones": [
                "0-100"
              ],
              "mousePosition": {
                "x": 991,
                "y": 610
              }
            },
            "createdAt": "2025-07-24T23:30:52.092Z",
            "pageUrl": "https://nat-pets.com/thank-you"
          },
          {
            "eventType": "session_event",
            "metadata": {
              "reason": "page_leave",
              "finalAttentionMap": {
                "0-10": 3,
                "10-20": 3,
                "60-70": 1,
                "70-80": 11,
                "80-90": 11,
                "0-100": 1
              },
              "duration": 15.013,
              "scrollPercentage": 100
            },
            "createdAt": "2025-07-24T23:30:53.100Z",
            "pageUrl": "https://nat-pets.com/thank-you"
          }
        ],
        "hasConversion": true,
        "metrics": {
          "totalEvents": 14,
          "interactionEvents": 6,
          "activityEvents": 6,
          "sessionDuration": 15013,
          "engagementLevel": "high"
        },
        "originalPayload": {
          "session": {
            "sessionId": "6b421ec7-ce3f-4bbe-8bde-99e3412fa4ca",
            "visitorId": "3fe4bf35-30d4-44fc-b5f9-057eb1acdce8",
            "businessId": "00000000-0000-0000-0000-000000000001",
            "fingerprint": "fp_67187c3e",
            "startedAt": "2025-07-24T23:30:38.087Z",
            "endedAt": "2025-07-24T23:30:53.100Z",
            "deviceInfo": {
              "type": "desktop",
              "os": "Windows",
              "browser": "Edge",
              "screenResolution": "1920x1080",
              "viewportSize": "1865x956",
              "userAgent": "Mozilla/5.0 (Windows NT 10.0; Win64; x64) AppleWebKit/537.36 (KHTML, like Gecko) Chrome/139.0.0.0 Safari/537.36 Edg/139.0.0.0",
              "language": "en",
              "timezone": "America/Buenos_Aires"
            },
            "ipLocation": {
              "ip": "2800:a4:24f8:5a00:86e:2046:1e14:cc1a",
              "country": "Uruguay",
              "region": "Maldonado",
              "city": "Maldonado",
              "timezone": "America/Montevideo",
              "latitude": -34.9014,
              "longitude": -54.9516
            },
            "pageInfo": {
              "url": "https://nat-pets.com/thank-you",
              "title": "8 Recetas Naturales para Perros - Transforma su Salud en 30 Días",
              "referrer": "direct"
            },
            "userBehavior": {
              "sessionStartTime": "2025-07-24T23:30:38.087Z",
              "referrer": "direct",
              "initialUrl": "https://nat-pets.com/",
              "initialTitle": "8 Recetas Naturales para Perros - Transforma su Salud en 30 Días"
            }
          },
          "events": [
            {
              "eventType": "session_event",
              "metadata": {},
              "createdAt": "2025-07-24T23:30:38.193Z",
              "pageUrl": "https://nat-pets.com/"
            },
            {
              "eventType": "user_interaction",
              "metadata": {
                "elementClass": "px-3 py-1.5 text-sm font-medium text-white bg-green-600 hover:bg-green-700 rounded-md transition-colors",
                "elementTag": "button",
                "elementText": "Aceptar todo",
                "actionType": "click",
                "category": "",
                "position": {
                  "x": 1280,
                  "y": 930
                },
                "isExitLink": false,
                "visibleTime": 0,
                "timestamp": "2025-07-24T23:30:39.389Z"
              },
              "createdAt": "2025-07-24T23:30:39.389Z",
              "pageUrl": "https://nat-pets.com/"
            },
            {
              "eventType": "user_interaction",
              "metadata": {
                "elementClass": "bg-orange-500 text-white font-bold py-3 px-6 rounded-lg shadow-md hover:bg-orange-600 transition duration-300 transform hover:scale-105 flex items-center justify-center gap-2",
                "elementTag": "button",
                "elementText": "COMPRAR AHORA POR $15",
                "actionType": "hover",
                "category": "",
                "position": {
                  "x": 519,
                  "y": 760
                },
                "isExitLink": false,
                "parentSection": "header"
              },
              "createdAt": "2025-07-24T23:30:39.945Z",
              "pageUrl": "https://nat-pets.com/"
            },
            {
              "eventType": "user_activity",
              "metadata": {
                "timeOnPage": 2.004,
                "scrollPercentage": 20,
                "visibleScrollZones": [
                  "0-10",
                  "10-20"
                ],
                "mousePosition": {
                  "x": 519,
                  "y": 775
                }
              },
              "createdAt": "2025-07-24T23:30:40.091Z",
              "pageUrl": "https://nat-pets.com/"
            },
            {
              "eventType": "user_interaction",
              "metadata": {
                "elementClass": "bg-orange-500 text-white font-bold py-3 px-6 rounded-lg shadow-md hover:bg-orange-600 transition duration-300 transform hover:scale-105 flex items-center justify-center gap-2",
                "elementTag": "button",
                "elementText": "COMPRAR AHORA POR $15",
                "actionType": "click",
                "category": "",
                "position": {
                  "x": 519,
                  "y": 775
                },
                "isExitLink": false,
                "parentSection": "header",
                "visibleTime": 2724,
                "timestamp": "2025-07-24T23:30:40.494Z"
              },
              "createdAt": "2025-07-24T23:30:40.494Z",
              "pageUrl": "https://nat-pets.com/"
            },
            {
              "eventType": "user_interaction",
              "metadata": {
                "elementId": "name",
                "elementClass": "w-full px-5 py-4 rounded-lg border border-gray-300 focus:ring-2 focus:ring-orange-500 focus:border-orange-500 text-gray-900 bg-white",
                "elementTag": "input",
                "actionType": "click",
                "category": "form",
                "position": {
                  "x": 1003,
                  "y": 388
                },
                "isExitLink": false,
                "parentSection": "main_content",
                "visibleTime": 0,
                "timestamp": "2025-07-24T23:30:42.051Z"
              },
              "createdAt": "2025-07-24T23:30:42.051Z",
              "pageUrl": "https://nat-pets.com/"
            },
            {
              "eventType": "user_activity",
              "metadata": {
                "timeOnPage": 4.013,
                "scrollPercentage": 90,
                "visibleScrollZones": [
                  "70-80",
                  "80-90"
                ],
                "mousePosition": {
                  "x": 1002,
                  "y": 393
                }
              },
              "createdAt": "2025-07-24T23:30:42.100Z",
              "pageUrl": "https://nat-pets.com/"
            },
            {
              "eventType": "user_interaction",
              "metadata": {
                "elementId": "name",
                "elementClass": "w-full px-5 py-4 rounded-lg border border-gray-300 focus:ring-2 focus:ring-orange-500 focus:border-orange-500 text-gray-900 bg-white",
                "elementTag": "input",
                "actionType": "click",
                "category": "form",
                "position": {
                  "x": 1024,
                  "y": 393
                },
                "isExitLink": false,
                "parentSection": "main_content",
                "visibleTime": 0,
                "timestamp": "2025-07-24T23:30:42.683Z"
              },
              "createdAt": "2025-07-24T23:30:42.683Z",
              "pageUrl": "https://nat-pets.com/"
            },
            {
              "eventType": "user_activity",
              "metadata": {
                "timeOnPage": 6.007,
                "scrollPercentage": 90,
                "visibleScrollZones": [
                  "70-80",
                  "80-90"
                ],
                "mousePosition": {
                  "x": 996,
                  "y": 398
                }
              },
              "createdAt": "2025-07-24T23:30:44.094Z",
              "pageUrl": "https://nat-pets.com/"
            },
            {
              "eventType": "user_activity",
              "metadata": {
                "timeOnPage": 8.01,
                "scrollPercentage": 90,
                "visibleScrollZones": [
                  "70-80",
                  "80-90"
                ],
                "mousePosition": {
                  "x": 996,
                  "y": 398
                }
              },
              "createdAt": "2025-07-24T23:30:46.097Z",
              "pageUrl": "https://nat-pets.com/"
            },
            {
              "eventType": "user_activity",
              "metadata": {
                "timeOnPage": 12.005,
                "scrollPercentage": 90,
                "visibleScrollZones": [
                  "70-80",
                  "80-90"
                ],
                "mousePosition": {
                  "x": 1164,
                  "y": 630
                }
              },
              "createdAt": "2025-07-24T23:30:50.092Z",
              "pageUrl": "https://nat-pets.com/"
            },
            {
              "eventType": "user_interaction",
              "metadata": {
                "elementClass": "w-full bg-gray-100 text-gray-700 font-bold py-4 px-6 rounded-lg hover:bg-gray-200 transition duration-300 flex items-center justify-center",
                "elementTag": "button",
                "actionType": "click",
                "category": "form",
                "position": {
                  "x": 1164,
                  "y": 630
                },
                "isExitLink": false,
                "parentSection": "main_content",
                "visibleTime": 9151,
                "timestamp": "2025-07-24T23:30:50.214Z"
              },
              "createdAt": "2025-07-24T23:30:50.214Z",
              "pageUrl": "https://nat-pets.com/"
            },
            {
              "eventType": "user_activity",
              "metadata": {
                "timeOnPage": 14.005,
                "scrollPercentage": 90,
                "visibleScrollZones": [
                  "0-100"
                ],
                "mousePosition": {
                  "x": 991,
                  "y": 610
                }
              },
              "createdAt": "2025-07-24T23:30:52.092Z",
              "pageUrl": "https://nat-pets.com/thank-you"
            },
            {
              "eventType": "session_event",
              "metadata": {
                "reason": "page_leave",
                "finalAttentionMap": {
                  "0-10": 3,
                  "10-20": 3,
                  "60-70": 1,
                  "70-80": 11,
                  "80-90": 11,
                  "0-100": 1
                },
                "duration": 15.013,
                "scrollPercentage": 100
              },
              "createdAt": "2025-07-24T23:30:53.100Z",
              "pageUrl": "https://nat-pets.com/thank-you"
            }
          ]
        },
        "processedAt": "2025-07-24T23:51:09.649Z"
      }
    ]
  },
  "meta": {
    "templateCredsSetupCompleted": true,
    "instanceId": "334c1bc3f59651ead42f7f75537ccd47cfce8a8ad7f9b6a1f410e3671bf8aecf"
  }
}