ejemplo-tienda/n8n-workflows/core-workflows/03-LEAD-PROCESSOR.json
{
  "nodes": [
    {
      "parameters": {
        "httpMethod": "POST",
        "path": "lead-processor",
        "responseMode": "responseNode",
        "options": {}
      },
      "type": "n8n-nodes-base.webhook",
      "typeVersion": 2,
      "position": [
        -784,
        16
      ],
      "id": "06e44c43-f50f-42a3-94a1-3d30c5dd38d5",
      "name": "Webhook Lead Processor",
      "webhookId": "lead-processor-v2"
    },
    {
      "parameters": {
        "inputSource": "passthrough"
      },
      "type": "n8n-nodes-base.executeWorkflowTrigger",
      "typeVersion": 1.1,
      "position": [
        -784,
        -150
      ],
      "id": "execute-trigger-internal",
      "name": "When Executed by Another Workflow"
    },
    {
      "parameters": {
        "jsCode": "// 👤 LEAD PROCESSOR v2.4 - Procesa y crea/actualiza leads\nconst payload = $input.item.json;\n\nconsole.log('👤 === LEAD PROCESSOR v2.4 ===');\nconsole.log('📥 Payload recibido:', JSON.stringify(payload, null, 2));\n\nconst { v4: uuidv4 } = require('uuid');\nconst now = new Date().toISOString();\n\n// Determinar el tipo de payload y extraer datos\nlet leadData = {};\nlet isFromConversion = false;\nlet sessionData = {};\nlet conversionData = {};\nlet businessId = null;\n\n// CASO 1: Viene de Conversion Detector (activity de conversión)\nif (payload.type === 'conversion_detected' && payload.metadata) {\n  console.log('📊 Procesando conversión detectada');\n  isFromConversion = true;\n  \n  // Extraer datos de la activity de conversión\n  conversionData = {\n    conversionType: payload.data.conversionType,\n    conversionScore: payload.data.conversionScore,\n    sessionId: payload.data.sessionId,\n    formEvents: payload.data.formEvents,\n    totalEvents: payload.data.totalEvents,\n    indicators: payload.data.indicators\n  };\n  \n  // Extraer datos de sesión del metadata\n  sessionData = {\n    id: payload.metadata.session.id,\n    pageUrl: payload.metadata.session.pageUrl,\n    pageTitle: payload.metadata.session.pageTitle\n  };\n  \n  // Extraer attribution y device info\n  const attribution = payload.metadata.attribution || {};\n  const deviceInfo = payload.metadata.deviceInfo || {};\n  \n  businessId = payload.businessId;\n  \n  leadData = {\n    businessId: businessId,\n    email: null, // Conversión detectada sin email aún\n    status: 'NEW', // Status para leads sin email\n    score: conversionData.conversionScore || 50,\n    isHot: conversionData.conversionScore > 70,\n    leadType: 'conversion_detected',\n    campaignName: attribution.campaign || attribution.source,\n    source: attribution.source || 'direct',\n    medium: attribution.medium || 'none',\n    content: attribution.content,\n    term: attribution.term,\n    fbclid: attribution.fbclid,\n    entryDate: now,\n    conversionPage: sessionData.pageUrl,\n    interactionType: conversionData.conversionType,\n    interactionSource: 'visitor-tracking',\n    formType: conversionData.conversionType,\n    sessionId: sessionData.id,\n    visitorId: payload.entityId, // El entityId es el visitorId\n    deviceType: deviceInfo.deviceType,\n    browser: deviceInfo.browser,\n    operatingSystem: deviceInfo.operatingSystem,\n    language: deviceInfo.language,\n    timezone: deviceInfo.timezone,\n    ipAddress: null, // No disponible en este payload\n    country: null,\n    region: null,\n    city: null,\n    referrer: attribution.referrer\n  };\n}\n// CASO 2: Viene directamente de Lead Capture (formulario)\nelse if (payload.body && payload.body.email) {\n  console.log('📝 Procesando lead directo de formulario');\n  isFromConversion = false;\n  leadData = payload.body;\n  businessId = leadData.businessId;\n}\n// CASO 3: Payload directo con datos de lead\nelse if (payload.businessId && (payload.email || payload.leadType)) {\n  console.log('📋 Procesando lead directo');\n  isFromConversion = false;\n  leadData = payload;\n  businessId = payload.businessId;\n}\nelse {\n  console.error('❌ Formato de payload no reconocido');\n  return { \n    json: { \n      success: false, \n      error: 'Invalid payload format. Expected conversion activity, form data, or direct lead data',\n      receivedPayload: payload\n    } \n  };\n}\n\nif (!businessId) {\n  console.error('❌ Missing businessId');\n  return { json: { success: false, error: 'Missing businessId' } };\n}\n\n// 🎯 LÓGICA INTELIGENTE DE MATCHING PARA FLUJO DE DOS ETAPAS\nlet leadId = uuidv4();\nlet shouldUpdateExisting = false;\n\n// Si tenemos email, intentar encontrar lead existente por email + businessId\nif (leadData.email) {\n  console.log(`🔍 Buscando lead existente por email: ${leadData.email}`);\n  // Nota: En producción, aquí haríamos una consulta a la DB\n  // Por ahora, usamos el email como base para generar ID consistente\n  const emailHash = require('crypto').createHash('md5').update(`${businessId}-${leadData.email}`).digest('hex').substring(0, 8);\n  leadId = `${businessId.substring(0, 8)}-lead-${emailHash}`;\n  shouldUpdateExisting = true;\n  console.log(`🔄 Lead ID basado en email: ${leadId}`);\n} else {\n  // Sin email, generar ID único (conversión sin email)\n  leadId = uuidv4();\n  console.log(`🆕 Nuevo lead sin email: ${leadId}`);\n}\n\n// Construir datos completos del lead\nconst completeLeadData = {\n  id: leadId,\n  businessId: businessId,\n  email: leadData.email || null,\n  name: leadData.name || null,\n  phone: leadData.phone || null,\n  company: leadData.company || null,\n  jobTitle: leadData.jobTitle || null,\n  status: leadData.status === 'PROSPECT' ? 'NEW' : leadData.status,\n  score: leadData.score || 0,\n  isHot: leadData.isHot || false,\n  leadType: leadData.leadType || (isFromConversion ? 'conversion_detected' : 'form_capture'),\n  campaignName: leadData.campaignName || null,\n  source: leadData.source || 'direct',\n  medium: leadData.medium || 'none',\n  content: leadData.content || null,\n  term: leadData.term || null,\n  fbclid: leadData.fbclid || null,\n  entryDate: leadData.entryDate || now,\n  conversionPage: leadData.conversionPage || null,\n  interactionType: leadData.interactionType || null,\n  interactionSource: leadData.interactionSource || null,\n  formType: leadData.formType || null,\n  formId: leadData.formId || null,\n  timeOnPage: leadData.timeOnPage || null,\n  scrollPercentage: leadData.scrollPercentage || null,\n  sessionId: leadData.sessionId || null,\n  visitorId: leadData.visitorId || null,\n  deviceType: leadData.deviceType || null,\n  browser: leadData.browser || null,\n  operatingSystem: leadData.operatingSystem || null,\n  language: leadData.language || null,\n  timezone: leadData.timezone || null,\n  ipAddress: leadData.ipAddress || null,\n  country: leadData.country || null,\n  region: leadData.region || null,\n  city: leadData.city || null,\n  referrer: leadData.referrer || null,\n  customFields: leadData.customFields || {},\n  createdAt: now,\n  updatedAt: now\n};\n\nconsole.log('✅ Lead data procesado:', {\n  leadId: leadId,\n  email: completeLeadData.email,\n  leadType: completeLeadData.leadType,\n  source: completeLeadData.source,\n  isFromConversion: isFromConversion\n});\n\nreturn {\n  json: {\n    success: true,\n    data: {\n      lead: completeLeadData,\n      isFromConversion: isFromConversion\n    },\n    nextWorkflows: {\n      enrichmentEngine: true, // Siempre enriquecer leads (scoring, tagging, hot detection)\n      emailOrchestrator: !!completeLeadData.email, // Solo email si hay email válido\n      activityLogger: true // Siempre loggear actividad\n    }\n  }\n};"
      },
      "id": "7144f217-2c84-43ec-9fbc-f2416ca5d173",
      "name": "Process Lead Data",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        -560,
        16
      ]
    },
    {
      "parameters": {
        "operation": "upsert",
        "schema": {
          "__rl": true,
          "mode": "list",
          "value": "public"
        },
        "table": "leads",
        "columns": {
          "mappingMode": "defineBelow",
          "value": {
            "id": "={{ $json.data.lead.id }}",
            "businessId": "={{ $json.data.lead.businessId }}",
            "visitorId": "={{ $json.data.lead.visitorId }}",
            "sessionId": "={{ $json.data.lead.sessionId }}",
            "formId": "={{ $json.data.lead.formId }}",
            "formType": "={{ $json.data.lead.formType }}",
            "email": "={{ $json.data.lead.email }}",
            "name": "={{ $json.data.lead.name }}",
            "phone": "={{ $json.data.lead.phone }}",
            "company": "={{ $json.data.lead.company }}",
            "jobTitle": "={{ $json.data.lead.jobTitle }}",
            "status": "={{ $json.data.lead.status }}",
            "score": "={{ $json.data.lead.score }}",
            "isHot": "={{ $json.data.lead.isHot }}",
            "leadType": "={{ $json.data.lead.leadType }}",
            "campaignName": "={{ $json.data.lead.campaignName }}",
            "source": "={{ $json.data.lead.source }}",
            "medium": "={{ $json.data.lead.medium }}",
            "content": "={{ $json.data.lead.content }}",
            "term": "={{ $json.data.lead.term }}",
            "fbclid": "={{ $json.data.lead.fbclid }}",
            "entryDate": "={{ $json.data.lead.entryDate }}",
            "conversionPage": "={{ $json.data.lead.conversionPage }}",
            "interactionType": "={{ $json.data.lead.interactionType }}",
            "interactionSource": "={{ $json.data.lead.interactionSource }}",
            "timeOnPage": "={{ $json.data.lead.timeOnPage }}",
            "scrollPercentage": "={{ $json.data.lead.scrollPercentage }}",
            "customFields": "={{ JSON.stringify($json.data.lead.customFields) }}",
            "createdAt": "={{ $json.data.lead.createdAt }}",
            "updatedAt": "={{ $json.data.lead.updatedAt }}",
            "currentStep": 0,
            "emailSequenceStep": 0,
            "whatsappSequenceStep": 0
          },
          "matchingColumns": [
            "id"
          ],
          "schema": [
            {
              "id": "id",
              "displayName": "id",
              "required": false,
              "defaultMatch": true,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "businessId",
              "displayName": "businessId",
              "required": true,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": false
            },
            {
              "id": "visitorId",
              "displayName": "visitorId",
              "required": true,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": false
            },
            {
              "id": "sessionId",
              "displayName": "sessionId",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": false
            },
            {
              "id": "formId",
              "displayName": "formId",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": false
            },
            {
              "id": "formType",
              "displayName": "formType",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": false
            },
            {
              "id": "email",
              "displayName": "email",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": false
            },
            {
              "id": "name",
              "displayName": "name",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": false
            },
            {
              "id": "phone",
              "displayName": "phone",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": false
            },
            {
              "id": "company",
              "displayName": "company",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": false
            },
            {
              "id": "jobTitle",
              "displayName": "jobTitle",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": false
            },
            {
              "id": "status",
              "displayName": "status",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "options",
              "canBeUsedToMatch": false,
              "options": [
                {
                  "name": "CHURNED",
                  "value": "CHURNED"
                },
                {
                  "name": "INACTIVE",
                  "value": "INACTIVE"
                },
                {
                  "name": "UNQUALIFIED",
                  "value": "UNQUALIFIED"
                },
                {
                  "name": "CONVERTED",
                  "value": "CONVERTED"
                },
                {
                  "name": "QUALIFIED",
                  "value": "QUALIFIED"
                },
                {
                  "name": "CONTACTED",
                  "value": "CONTACTED"
                },
                {
                  "name": "NEW",
                  "value": "NEW"
                }
              ]
            },
            {
              "id": "stage",
              "displayName": "stage",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "options",
              "canBeUsedToMatch": false,
              "options": [
                {
                  "name": "LOST",
                  "value": "LOST"
                },
                {
                  "name": "CUSTOMER",
                  "value": "CUSTOMER"
                },
                {
                  "name": "HOT_LEAD",
                  "value": "HOT_LEAD"
                },
                {
                  "name": "OPPORTUNITY",
                  "value": "OPPORTUNITY"
                },
                {
                  "name": "PROSPECT",
                  "value": "PROSPECT"
                }
              ],
              "removed": false
            },
            {
              "id": "score",
              "displayName": "score",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "number",
              "canBeUsedToMatch": false
            },
            {
              "id": "isHot",
              "displayName": "isHot",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "boolean",
              "canBeUsedToMatch": false
            },
            {
              "id": "leadType",
              "displayName": "leadType",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": false
            },
            {
              "id": "campaignId",
              "displayName": "campaignId",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": false,
              "removed": false
            },
            {
              "id": "campaignName",
              "displayName": "campaignName",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": false
            },
            {
              "id": "processType",
              "displayName": "processType",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": false,
              "removed": false
            },
            {
              "id": "source",
              "displayName": "source",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": false
            },
            {
              "id": "medium",
              "displayName": "medium",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": false
            },
            {
              "id": "content",
              "displayName": "content",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": false
            },
            {
              "id": "term",
              "displayName": "term",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": false
            },
            {
              "id": "fbclid",
              "displayName": "fbclid",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": false
            },
            {
              "id": "entryDate",
              "displayName": "entryDate",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "dateTime",
              "canBeUsedToMatch": false
            },
            {
              "id": "currentStep",
              "displayName": "currentStep",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "number",
              "canBeUsedToMatch": false,
              "removed": false
            },
            {
              "id": "convertedAt",
              "displayName": "convertedAt",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "dateTime",
              "canBeUsedToMatch": false,
              "removed": false
            },
            {
              "id": "convertedTo",
              "displayName": "convertedTo",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": false,
              "removed": false
            },
            {
              "id": "convertedId",
              "displayName": "convertedId",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": false,
              "removed": false
            },
            {
              "id": "conversionPage",
              "displayName": "conversionPage",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": false
            },
            {
              "id": "interactionType",
              "displayName": "interactionType",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": false
            },
            {
              "id": "interactionSource",
              "displayName": "interactionSource",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": false
            },
            {
              "id": "interactionDescription",
              "displayName": "interactionDescription",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": false,
              "removed": false
            },
            {
              "id": "timeOnPage",
              "displayName": "timeOnPage",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "number",
              "canBeUsedToMatch": false
            },
            {
              "id": "scrollPercentage",
              "displayName": "scrollPercentage",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "number",
              "canBeUsedToMatch": false
            },
            {
              "id": "emailFunnelStatus",
              "displayName": "emailFunnelStatus",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": false,
              "removed": false
            },
            {
              "id": "emailSequenceStep",
              "displayName": "emailSequenceStep",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "number",
              "canBeUsedToMatch": false,
              "removed": false
            },
            {
              "id": "emailLastOpen",
              "displayName": "emailLastOpen",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "dateTime",
              "canBeUsedToMatch": false,
              "removed": false
            },
            {
              "id": "emailLastClick",
              "displayName": "emailLastClick",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "dateTime",
              "canBeUsedToMatch": false,
              "removed": false
            },
            {
              "id": "whatsappStatus",
              "displayName": "whatsappStatus",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": false,
              "removed": false
            },
            {
              "id": "whatsappSequenceStep",
              "displayName": "whatsappSequenceStep",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "number",
              "canBeUsedToMatch": false,
              "removed": false
            },
            {
              "id": "whatsappLastReply",
              "displayName": "whatsappLastReply",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "dateTime",
              "canBeUsedToMatch": false,
              "removed": false
            },
            {
              "id": "customFields",
              "displayName": "customFields",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "object",
              "canBeUsedToMatch": false
            },
            {
              "id": "createdBy",
              "displayName": "createdBy",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": false,
              "removed": false
            },
            {
              "id": "updatedBy",
              "displayName": "updatedBy",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": false,
              "removed": false
            },
            {
              "id": "createdAt",
              "displayName": "createdAt",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "dateTime",
              "canBeUsedToMatch": false
            },
            {
              "id": "updatedAt",
              "displayName": "updatedAt",
              "required": true,
              "defaultMatch": false,
              "display": true,
              "type": "dateTime",
              "canBeUsedToMatch": false
            }
          ],
          "attemptToConvertTypes": false,
          "convertFieldsToString": false
        },
        "options": {}
      },
      "id": "331253f1-9969-439b-9e1a-80e8fcf9fbfb",
      "name": "Save Lead",
      "type": "n8n-nodes-base.postgres",
      "typeVersion": 2.5,
      "position": [
        -336,
        16
      ],
      "credentials": {
        "postgres": {
          "id": "V6Wg0EpZSpeIWJlp",
          "name": "PostgreSQL"
        }
      }
    },
    {
      "parameters": {
        "respondWith": "json",
        "responseBody": "={{ JSON.stringify({ success: true, message: 'Lead processed successfully', leadId: $('Process Lead Data').item.json.data.lead.id, leadType: $('Process Lead Data').item.json.data.lead.leadType, isFromConversion: $('Process Lead Data').item.json.data.isFromConversion }) }}",
        "options": {}
      },
      "id": "f37541e3-e9d3-42d9-923e-fe5eaad665a6",
      "name": "Response Lead",
      "type": "n8n-nodes-base.respondToWebhook",
      "typeVersion": 1,
      "position": [
        624,
        32
      ]
    },
    {
      "parameters": {
        "conditions": {
          "options": {
            "caseSensitive": true,
            "leftValue": "",
            "typeValidation": "strict",
            "version": 2
          },
          "conditions": [
            {
              "id": "d9bdfa05-a939-46bd-9cc1-0e78a9b0901b",
              "leftValue": "={{ $('Process Lead Data').item.json.data.lead.email }}",
              "rightValue": "",
              "operator": {
                "type": "string",
                "operation": "isNotEmpty",
                "name": "filter.operator.isNotEmpty"
              }
            },
            {
              "id": "562d94ff-5ed5-49a6-8080-16b23108d360",
              "leftValue": "={{ $json.email }}",
              "rightValue": "null",
              "operator": {
                "type": "string",
                "operation": "empty",
                "singleValue": true
              }
            }
          ],
          "combinator": "or"
        },
        "options": {}
      },
      "type": "n8n-nodes-base.if",
      "typeVersion": 2.2,
      "position": [
        -112,
        16
      ],
      "id": "051694cb-4383-4e41-a58b-8fb1df790fda",
      "name": "IF has Email"
    },
    {
      "parameters": {
        "workflowId": {
          "__rl": true,
          "value": "KeUxO1TXQVBYzLSo",
          "mode": "list",
          "cachedResultName": "04-ACTIVITY-LOGGER"
        },
        "workflowInputs": {
          "mappingMode": "defineBelow",
          "value": {},
          "matchingColumns": [],
          "schema": [],
          "attemptToConvertTypes": false,
          "convertFieldsToString": true
        },
        "options": {}
      },
      "type": "n8n-nodes-base.executeWorkflow",
      "typeVersion": 1.2,
      "position": [
        400,
        32
      ],
      "id": "9d9bb5bb-46db-49e2-a86b-7bc1a97d15e1",
      "name": "Execute Activity Logger"
    },
    {
      "parameters": {
        "workflowId": {
          "__rl": true,
          "value": "YiH9t3C6GelNhudB",
          "mode": "list",
          "cachedResultName": "05-ENRICHMENT-ENGINE"
        },
        "workflowInputs": {
          "mappingMode": "defineBelow",
          "value": {},
          "matchingColumns": [],
          "schema": [],
          "attemptToConvertTypes": false,
          "convertFieldsToString": true
        },
        "options": {}
      },
      "type": "n8n-nodes-base.executeWorkflow",
      "typeVersion": 1.2,
      "position": [
        144,
        -192
      ],
      "id": "762541d4-7e6b-482e-a566-9df70106650e",
      "name": "Execute Enrichment Engine"
    }
  ],
  "connections": {
    "Webhook Lead Processor": {
      "main": [
        [
          {
            "node": "Process Lead Data",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "When Executed by Another Workflow": {
      "main": [
        [
          {
            "node": "Process Lead Data",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Process Lead Data": {
      "main": [
        [
          {
            "node": "Save Lead",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Save Lead": {
      "main": [
        [
          {
            "node": "IF has Email",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "IF has Email": {
      "main": [
        [
          {
            "node": "Execute Enrichment Engine",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Execute Activity Logger",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Execute Activity Logger": {
      "main": [
        [
          {
            "node": "Response Lead",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Execute Enrichment Engine": {
      "main": [
        [
          {
            "node": "Execute Activity Logger",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "pinData": {
    "When Executed by Another Workflow": [
      {
        "id": "6f9da208-07ff-417b-bc63-6708c91f8c2e",
        "businessId": "00000000-0000-0000-0000-000000000001",
        "type": "conversion_detected",
        "category": "tracking",
        "entityType": "visitor",
        "entityId": "11d81105-7b4d-4709-bc19-f1aa85f55973",
        "leadId": null,
        "contactId": null,
        "title": "Conversion Detected: thank_you_page",
        "description": "Visitor conversion detected - Type: thank_you_page - Score: 155",
        "data": {
          "sessionId": "c1c23dc1-b20b-4958-bd20-b331026ba6d5",
          "formEvents": 3,
          "indicators": {
            "formSubmit": true,
            "preDetected": true,
            "thankYouPage": true,
            "timeThreshold": true,
            "purchaseButton": true,
            "formInteraction": true,
            "conversionKeywords": true
          },
          "totalEvents": 13,
          "conversionType": "thank_you_page",
          "conversionScore": 155,
          "sessionDuration": 10482
        },
        "metadata": {
          "session": {
            "id": "c1c23dc1-b20b-4958-bd20-b331026ba6d5",
            "pageUrl": "https://nat-pets.com/thank-you",
            "pageTitle": "8 Recetas Naturales para Perros - Transforma su Salud en 30 Días"
          },
          "detection": {
            "type": "thank_you_page",
            "score": 155,
            "timestamp": "2025-07-25T11:21:27.497Z"
          },
          "deviceInfo": {
            "browser": "Chrome",
            "language": "es-419",
            "timezone": "America/Buenos_Aires",
            "userAgent": "Mozilla/5.0 (Windows NT 10.0; Win64; x64) AppleWebKit/537.36 (KHTML, like Gecko) Chrome/138.0.0.0 Safari/537.36",
            "deviceType": "desktop",
            "viewportSize": "2505x1245",
            "operatingSystem": "Windows",
            "screenResolution": "1920x1080"
          },
          "attribution": {
            "term": null,
            "fbclid": null,
            "medium": "none",
            "source": "direct",
            "content": null,
            "campaign": null,
            "referrer": "direct"
          }
        },
        "createdBy": null,
        "source": "conversion_detector",
        "createdAt": "2025-07-25T14:21:27.497Z"
      }
    ]
  },
  "meta": {
    "instanceId": "334c1bc3f59651ead42f7f75537ccd47cfce8a8ad7f9b6a1f410e3671bf8aecf"
  }
}