n8n-workflows/core-workflows/05-ENRICHMENT-ENGINE.json
{
  "nodes": [
    {
      "parameters": {
        "inputSource": "passthrough"
      },
      "type": "n8n-nodes-base.executeWorkflowTrigger",
      "typeVersion": 1.1,
      "position": [
        -960,
        -88
      ],
      "id": "64f5e1c4-179b-411c-a51d-0f84b0ea1f81",
      "name": "When Executed by Another Workflow"
    },
    {
      "parameters": {
        "functionCode": "// ⚡ ENRICHMENT ENGINE - Enriquece leads existentes\nconst payload = $input.item.json;\n\nconsole.log('⚡ === ENRICHMENT ENGINE v2.0 ===');\nconsole.log('📥 Payload recibido');\n\n// Extraer datos del lead - Los datos vienen de payload.data.lead (desde 03-LEAD-PROCESSOR)\nconst leadData = payload.data?.lead || payload; // Fallback a payload raíz\nconst isFromConversion = payload.data?.isFromConversion || leadData.leadType === 'conversion_detected' || false;\n\n// Validación básica - Solo requerimos ID (email puede ser null para leads de conversión)\nif (!leadData.id) {\n  return {\n    json: {\n      success: false,\n      error: 'Missing lead ID for enrichment',\n      leadData: leadData,\n      payload: payload,\n      debug: {\n        hasDataLead: !!payload.data?.lead,\n        hasPayloadId: !!payload.id,\n        dataStructure: Object.keys(payload)\n      }\n    }\n  };\n}\n\nconsole.log(`🎯 Enriqueciendo lead: ${leadData.id}`);\nconsole.log(`📧 Email: ${leadData.email}`);\n\nconst { v4: uuidv4 } = require('uuid');\nconst now = new Date().toISOString();\n\n// 🎯 ALGORITMO DE ENRICHMENT\nlet enrichmentData = {\n  leadId: leadData.id,\n  originalScore: leadData.score || 0,\n  enrichedScore: leadData.score || 0,\n  enrichmentFactors: [],\n  updates: {},\n  recommendations: []\n};\n\n// 1. ENRICHMENT POR ENGAGEMENT\nif (leadData.timeOnPage > 30) {\n  enrichmentData.enrichedScore += 10;\n  enrichmentData.enrichmentFactors.push('high_engagement_time');\n  enrichmentData.recommendations.push('High engagement - consider immediate follow-up');\n}\n\nif (leadData.scrollPercentage > 70) {\n  enrichmentData.enrichedScore += 5;\n  enrichmentData.enrichmentFactors.push('high_scroll_percentage');\n}\n\n// 2. ENRICHMENT POR TIPO DE CONVERSIÓN\nif (isFromConversion) {\n  enrichmentData.enrichedScore += 15;\n  enrichmentData.enrichmentFactors.push('conversion_detected');\n  enrichmentData.updates.status = 'Qualified Lead';\n  enrichmentData.recommendations.push('Lead converted from visitor - high priority');\n}\n\n// 3. ENRICHMENT POR SOURCE QUALITY\nif (leadData.source === 'google' || leadData.source === 'organic') {\n  enrichmentData.enrichedScore += 10;\n  enrichmentData.enrichmentFactors.push('high_quality_source');\n} else if (leadData.source === 'facebook' || leadData.source === 'instagram') {\n  enrichmentData.enrichedScore += 5;\n  enrichmentData.enrichmentFactors.push('social_media_source');\n}\n\n// 4. ENRICHMENT POR DEVICE TYPE\nif (leadData.deviceType === 'desktop') {\n  enrichmentData.enrichedScore += 3;\n  enrichmentData.enrichmentFactors.push('desktop_user');\n}\n\n// 5. ENRICHMENT POR GEOLOCATION\nif (leadData.country === 'Uruguay' || leadData.country === 'Argentina') {\n  enrichmentData.enrichedScore += 8;\n  enrichmentData.enrichmentFactors.push('target_geography');\n  enrichmentData.recommendations.push('Target geography - good fit for local campaigns');\n}\n\n// 6. ENRICHMENT POR FORM TYPE\nif (leadData.formType === 'free_guide') {\n  enrichmentData.enrichedScore += 12;\n  enrichmentData.enrichmentFactors.push('educational_content_interest');\n  enrichmentData.updates.leadType = 'educational_lead';\n  enrichmentData.recommendations.push('Interested in educational content - nurture with valuable information');\n}\n\n// 7. DETERMINAR HOT LEAD\nconst isHot = enrichmentData.enrichedScore >= 50;\nif (isHot !== leadData.isHot) {\n  enrichmentData.updates.isHot = isHot;\n  if (isHot) {\n    enrichmentData.recommendations.push('🔥 HOT LEAD - Immediate attention required!');\n    enrichmentData.updates.status = 'Hot Lead';\n  }\n}\n\n// 8. ACTUALIZAR SCORE\nif (enrichmentData.enrichedScore !== enrichmentData.originalScore) {\n  enrichmentData.updates.score = enrichmentData.enrichedScore;\n}\n\n// 9. AGREGAR TAGS BASADO EN ENRICHMENT\nlet tags = [];\nif (enrichmentData.enrichmentFactors.includes('high_engagement_time')) tags.push('high-engagement');\nif (enrichmentData.enrichmentFactors.includes('conversion_detected')) tags.push('converted-visitor');\nif (enrichmentData.enrichmentFactors.includes('target_geography')) tags.push('target-geo');\nif (enrichmentData.enrichmentFactors.includes('educational_content_interest')) tags.push('education-seeker');\nif (isHot) tags.push('hot-lead');\n\nif (tags.length > 0) {\n  enrichmentData.updates.tags = tags.join(',');\n}\n\n// 10. CALCULAR NEXT FOLLOW UP\nlet nextFollowUpHours = 24; // Default\nif (isHot) nextFollowUpHours = 2; // Hot leads - 2 hours\nelse if (enrichmentData.enrichedScore > 30) nextFollowUpHours = 12; // Warm leads - 12 hours\nelse if (isFromConversion) nextFollowUpHours = 6; // Conversions - 6 hours\n\nconst nextFollowUpAt = new Date(Date.now() + (nextFollowUpHours * 60 * 60 * 1000)).toISOString();\nenrichmentData.updates.nextFollowUpAt = nextFollowUpAt;\n\n// 🎯 PREPARAR ENRICHMENT ACTIVITY\nconst enrichmentActivity = {\n  id: uuidv4(),\n  businessId: leadData.businessId,\n  type: 'lead_enriched',\n  category: 'lead_management',\n  entityType: 'lead',\n  entityId: leadData.id,\n  leadId: leadData.id,\n  contactId: null,\n  title: `Lead Enriched: Score ${enrichmentData.originalScore} → ${enrichmentData.enrichedScore}`,\n  description: `Lead enrichment completed - Score increased by ${enrichmentData.enrichedScore - enrichmentData.originalScore} points`,\n  data: {\n    leadId: leadData.id,\n    originalScore: enrichmentData.originalScore,\n    enrichedScore: enrichmentData.enrichedScore,\n    scoreIncrease: enrichmentData.enrichedScore - enrichmentData.originalScore,\n    enrichmentFactors: enrichmentData.enrichmentFactors,\n    updates: enrichmentData.updates,\n    recommendations: enrichmentData.recommendations,\n    nextFollowUpAt: nextFollowUpAt,\n    tagsAdded: tags\n  },\n  metadata: {\n    enrichment: {\n      originalScore: enrichmentData.originalScore,\n      enrichedScore: enrichmentData.enrichedScore,\n      factors: enrichmentData.enrichmentFactors,\n      isHot: isHot,\n      tagsAdded: tags,\n      nextFollowUpHours: nextFollowUpHours\n    },\n    attribution: {\n      source: leadData.source,\n      medium: leadData.medium,\n      campaign: leadData.campaignName\n    },\n    behavioral: {\n      timeOnPage: leadData.timeOnPage,\n      scrollPercentage: leadData.scrollPercentage,\n      deviceType: leadData.deviceType,\n      isFromConversion: isFromConversion\n    }\n  },\n  source: 'enrichment_engine',\n  createdAt: now\n};\n\nconst result = {\n  success: true,\n  enrichment: enrichmentData,\n  leadUpdates: enrichmentData.updates,\n  activity: enrichmentActivity,\n  nextWorkflows: {\n    activityLogger: true // Siempre registrar la activity\n  },\n  webhooks: {\n    activityLogger: 'http://localhost:5678/webhook/activity-logger'\n  }\n};\n\nconsole.log(`✅ Lead enriquecido`);\nconsole.log(`📈 Score: ${enrichmentData.originalScore} → ${enrichmentData.enrichedScore}`);\nconsole.log(`🏷️ Tags: ${tags.join(', ') || 'None'}`);\nconsole.log(`🔥 Hot Lead: ${isHot}`);\nconsole.log(`⏰ Next Follow-up: ${nextFollowUpHours}h`);\nconsole.log(`🎯 Factors: ${enrichmentData.enrichmentFactors.join(', ')}`);\n\nreturn { json: result };"
      },
      "id": "ba9a0688-0019-43b6-88ac-11a202242ce1",
      "name": "Enrich Lead",
      "type": "n8n-nodes-base.function",
      "typeVersion": 1,
      "position": [
        -736,
        -88
      ]
    },
    {
      "parameters": {
        "conditions": {
          "options": {
            "caseSensitive": true,
            "leftValue": "",
            "typeValidation": "strict",
            "version": 2
          },
          "conditions": [
            {
              "id": "has-updates",
              "leftValue": "={{ Object.keys($json.leadUpdates).length }}",
              "rightValue": 0,
              "operator": {
                "type": "number",
                "operation": "gt"
              }
            }
          ],
          "combinator": "or"
        },
        "options": {}
      },
      "id": "8ab1481b-f858-428d-9241-13063ecd8a81",
      "name": "Check Updates",
      "type": "n8n-nodes-base.if",
      "typeVersion": 2,
      "position": [
        -512,
        -88
      ]
    },
    {
      "parameters": {
        "schema": {
          "__rl": true,
          "mode": "list",
          "value": "public"
        },
        "table": "activities",
        "columns": {
          "mappingMode": "defineBelow",
          "value": {},
          "matchingColumns": [
            "id"
          ],
          "schema": [
            {
              "id": "id",
              "displayName": "id",
              "required": true,
              "defaultMatch": true,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": false
            },
            {
              "id": "businessId",
              "displayName": "businessId",
              "required": true,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": false
            },
            {
              "id": "type",
              "displayName": "type",
              "required": true,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": false
            },
            {
              "id": "category",
              "displayName": "category",
              "required": true,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": false
            },
            {
              "id": "entityType",
              "displayName": "entityType",
              "required": true,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": false
            },
            {
              "id": "entityId",
              "displayName": "entityId",
              "required": true,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": false
            },
            {
              "id": "leadId",
              "displayName": "leadId",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": false
            },
            {
              "id": "contactId",
              "displayName": "contactId",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": false
            },
            {
              "id": "title",
              "displayName": "title",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": false
            },
            {
              "id": "description",
              "displayName": "description",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": false
            },
            {
              "id": "data",
              "displayName": "data",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "object",
              "canBeUsedToMatch": true,
              "removed": false
            },
            {
              "id": "metadata",
              "displayName": "metadata",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "object",
              "canBeUsedToMatch": true,
              "removed": false
            },
            {
              "id": "createdBy",
              "displayName": "createdBy",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": false
            },
            {
              "id": "source",
              "displayName": "source",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": false
            },
            {
              "id": "createdAt",
              "displayName": "createdAt",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "dateTime",
              "canBeUsedToMatch": true,
              "removed": false
            }
          ],
          "attemptToConvertTypes": false,
          "convertFieldsToString": false,
          "values": {
            "id": "={{ $input.first().json.id + '_enrichment_' + Date.now() }}",
            "businessId": "={{ $input.first().json.businessId }}",
            "type": "lead_enriched",
            "category": "lead_management",
            "entityType": "lead",
            "entityId": "={{ $input.first().json.id }}",
            "leadId": "={{ $input.first().json.id }}",
            "contactId": {},
            "title": "={{ 'Lead Enriched: Score ' + $input.first().json.score + ' → ' + ($input.first().json.score + 20) }}",
            "description": "Lead enrichment completed with score increase and tagging",
            "data": "={{ JSON.stringify({\"leadId\": $input.first().json.id, \"originalScore\": $input.first().json.score, \"enrichedScore\": ($input.first().json.score + 20), \"scoreIncrease\": 20, \"enrichmentFactors\": [\"conversion_detected\", \"high_quality_source\"], \"recommendations\": [\"Hot lead - follow up immediately\", \"Consider sending personalized offer\"], \"tagsAdded\": [\"enriched\", \"high-priority\"]}) }}",
            "metadata": "={{ JSON.stringify({\"enrichment\": {\"originalScore\": $input.first().json.score, \"enrichedScore\": ($input.first().json.score + 20), \"factors\": [\"conversion_detected\", \"high_quality_source\"], \"isHot\": true}, \"attribution\": {\"source\": $input.first().json.source, \"medium\": $input.first().json.medium, \"campaign\": $input.first().json.campaignName}, \"behavioral\": {\"timeOnPage\": $input.first().json.timeOnPage, \"scrollPercentage\": $input.first().json.scrollPercentage, \"deviceType\": \"desktop\", \"isFromConversion\": true}}) }}",
            "source": "enrichment_engine",
            "createdBy": "enrichment_engine",
            "createdAt": "={{ new Date().toISOString() }}"
          }
        },
        "options": {}
      },
      "id": "23c378df-2ca5-491f-bea5-445d22ed73a0",
      "name": "Save Enrichment Activity",
      "type": "n8n-nodes-base.postgres",
      "typeVersion": 2.5,
      "position": [
        -64,
        -88
      ],
      "credentials": {
        "postgres": {
          "id": "V6Wg0EpZSpeIWJlp",
          "name": "PostgreSQL"
        }
      }
    },
    {
      "parameters": {
        "respondWith": "json",
        "responseBody": "={{ JSON.stringify({ success: true, message: 'Lead enriched successfully', leadId: $json.enrichment.leadId, originalScore: $json.enrichment.originalScore, enrichedScore: $json.enrichment.enrichedScore, scoreIncrease: $json.enrichment.enrichedScore - $json.enrichment.originalScore, isHot: $json.leadUpdates.isHot, factors: $json.enrichment.enrichmentFactors, recommendations: $json.enrichment.recommendations }) }}",
        "options": {}
      },
      "id": "37a80939-228c-48e1-b99d-b318bc213d27",
      "name": "Response Enrichment",
      "type": "n8n-nodes-base.respondToWebhook",
      "typeVersion": 1,
      "position": [
        384,
        -88
      ]
    },
    {
      "parameters": {
        "workflowId": {
          "__rl": true,
          "value": "KeUxO1TXQVBYzLSo",
          "mode": "list",
          "cachedResultName": "04-ACTIVITY-LOGGER"
        },
        "workflowInputs": {
          "mappingMode": "defineBelow",
          "value": {
            "data": {
              "activity": "={{ $json.activity }}",
              "source": "enrichment_engine",
              "processType": "lead_enrichment"
            }
          },
          "matchingColumns": [],
          "schema": [],
          "attemptToConvertTypes": false,
          "convertFieldsToString": true
        },
        "options": {}
      },
      "type": "n8n-nodes-base.executeWorkflow",
      "typeVersion": 1.2,
      "position": [
        160,
        32
      ],
      "id": "b618f6f6-047c-4da1-a051-ac7b8a790606",
      "name": "Execute Activity Logger"
    },
    {
      "parameters": {
        "operation": "update",
        "schema": {
          "__rl": true,
          "value": "public",
          "mode": "list"
        },
        "table": "leads",
        "columns": {
          "mappingMode": "defineBelow",
          "value": {
            "score": 0,
            "currentStep": 0,
            "timeOnPage": 0,
            "scrollPercentage": 0,
            "emailSequenceStep": 0,
            "whatsappSequenceStep": 0
          },
          "matchingColumns": [
            "id"
          ],
          "schema": [
            {
              "id": "id",
              "displayName": "id",
              "required": false,
              "defaultMatch": true,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "businessId",
              "displayName": "businessId",
              "required": true,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": false
            },
            {
              "id": "visitorId",
              "displayName": "visitorId",
              "required": true,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": false
            },
            {
              "id": "sessionId",
              "displayName": "sessionId",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": false
            },
            {
              "id": "formId",
              "displayName": "formId",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": false
            },
            {
              "id": "formType",
              "displayName": "formType",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": false
            },
            {
              "id": "email",
              "displayName": "email",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": false
            },
            {
              "id": "name",
              "displayName": "name",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": false
            },
            {
              "id": "phone",
              "displayName": "phone",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": false
            },
            {
              "id": "company",
              "displayName": "company",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": false
            },
            {
              "id": "jobTitle",
              "displayName": "jobTitle",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": false
            },
            {
              "id": "status",
              "displayName": "status",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "options",
              "canBeUsedToMatch": true,
              "options": [
                {
                  "name": "CHURNED",
                  "value": "CHURNED"
                },
                {
                  "name": "INACTIVE",
                  "value": "INACTIVE"
                },
                {
                  "name": "UNQUALIFIED",
                  "value": "UNQUALIFIED"
                },
                {
                  "name": "CONVERTED",
                  "value": "CONVERTED"
                },
                {
                  "name": "QUALIFIED",
                  "value": "QUALIFIED"
                },
                {
                  "name": "CONTACTED",
                  "value": "CONTACTED"
                },
                {
                  "name": "NEW",
                  "value": "NEW"
                }
              ],
              "removed": false
            },
            {
              "id": "stage",
              "displayName": "stage",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "options",
              "canBeUsedToMatch": true,
              "options": [
                {
                  "name": "LOST",
                  "value": "LOST"
                },
                {
                  "name": "CUSTOMER",
                  "value": "CUSTOMER"
                },
                {
                  "name": "HOT_LEAD",
                  "value": "HOT_LEAD"
                },
                {
                  "name": "OPPORTUNITY",
                  "value": "OPPORTUNITY"
                },
                {
                  "name": "PROSPECT",
                  "value": "PROSPECT"
                }
              ],
              "removed": false
            },
            {
              "id": "score",
              "displayName": "score",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "number",
              "canBeUsedToMatch": true,
              "removed": false
            },
            {
              "id": "isHot",
              "displayName": "isHot",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "boolean",
              "canBeUsedToMatch": true,
              "removed": false
            },
            {
              "id": "leadType",
              "displayName": "leadType",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": false
            },
            {
              "id": "campaignId",
              "displayName": "campaignId",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": false
            },
            {
              "id": "campaignName",
              "displayName": "campaignName",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": false
            },
            {
              "id": "processType",
              "displayName": "processType",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": false
            },
            {
              "id": "source",
              "displayName": "source",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": false
            },
            {
              "id": "medium",
              "displayName": "medium",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": false
            },
            {
              "id": "content",
              "displayName": "content",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": false
            },
            {
              "id": "term",
              "displayName": "term",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": false
            },
            {
              "id": "fbclid",
              "displayName": "fbclid",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": false
            },
            {
              "id": "entryDate",
              "displayName": "entryDate",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "dateTime",
              "canBeUsedToMatch": true,
              "removed": false
            },
            {
              "id": "currentStep",
              "displayName": "currentStep",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "number",
              "canBeUsedToMatch": true,
              "removed": false
            },
            {
              "id": "convertedAt",
              "displayName": "convertedAt",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "dateTime",
              "canBeUsedToMatch": true,
              "removed": false
            },
            {
              "id": "convertedTo",
              "displayName": "convertedTo",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": false
            },
            {
              "id": "convertedId",
              "displayName": "convertedId",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": false
            },
            {
              "id": "conversionPage",
              "displayName": "conversionPage",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": false
            },
            {
              "id": "interactionType",
              "displayName": "interactionType",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": false
            },
            {
              "id": "interactionSource",
              "displayName": "interactionSource",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": false
            },
            {
              "id": "interactionDescription",
              "displayName": "interactionDescription",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": false
            },
            {
              "id": "timeOnPage",
              "displayName": "timeOnPage",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "number",
              "canBeUsedToMatch": true,
              "removed": false
            },
            {
              "id": "scrollPercentage",
              "displayName": "scrollPercentage",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "number",
              "canBeUsedToMatch": true,
              "removed": false
            },
            {
              "id": "emailFunnelStatus",
              "displayName": "emailFunnelStatus",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": false
            },
            {
              "id": "emailSequenceStep",
              "displayName": "emailSequenceStep",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "number",
              "canBeUsedToMatch": true,
              "removed": false
            },
            {
              "id": "emailLastOpen",
              "displayName": "emailLastOpen",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "dateTime",
              "canBeUsedToMatch": true,
              "removed": false
            },
            {
              "id": "emailLastClick",
              "displayName": "emailLastClick",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "dateTime",
              "canBeUsedToMatch": true,
              "removed": false
            },
            {
              "id": "whatsappStatus",
              "displayName": "whatsappStatus",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": false
            },
            {
              "id": "whatsappSequenceStep",
              "displayName": "whatsappSequenceStep",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "number",
              "canBeUsedToMatch": true,
              "removed": false
            },
            {
              "id": "whatsappLastReply",
              "displayName": "whatsappLastReply",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "dateTime",
              "canBeUsedToMatch": true,
              "removed": false
            },
            {
              "id": "customFields",
              "displayName": "customFields",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "object",
              "canBeUsedToMatch": true,
              "removed": false
            },
            {
              "id": "createdBy",
              "displayName": "createdBy",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": false
            },
            {
              "id": "updatedBy",
              "displayName": "updatedBy",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": false
            },
            {
              "id": "createdAt",
              "displayName": "createdAt",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "dateTime",
              "canBeUsedToMatch": true,
              "removed": false
            },
            {
              "id": "updatedAt",
              "displayName": "updatedAt",
              "required": true,
              "defaultMatch": false,
              "display": true,
              "type": "dateTime",
              "canBeUsedToMatch": true,
              "removed": false
            }
          ],
          "attemptToConvertTypes": false,
          "convertFieldsToString": false,
          "values": {
            "id": "={{ $input.first().json.id }}",
            "businessId": "={{ $input.first().json.businessId }}",
            "visitorId": "={{ $input.first().json.visitorId }}",
            "sessionId": "={{ $input.first().json.sessionId }}",
            "formId": "={{ $input.first().json.formId }}",
            "formType": "={{ $input.first().json.formType }}",
            "email": "={{ $input.first().json.email }}",
            "name": "={{ $input.first().json.name }}",
            "phone": "={{ $input.first().json.phone }}",
            "company": "={{ $input.first().json.company }}",
            "jobTitle": "={{ $input.first().json.jobTitle }}",
            "status": "QUALIFIED",
            "stage": "HOT_LEAD",
            "score": "={{ $input.first().json.score + 20 }}",
            "isHot": true,
            "leadType": "={{ $input.first().json.leadType }}",
            "campaignId": "={{ $input.first().json.campaignId }}",
            "campaignName": "={{ $input.first().json.campaignName }}",
            "processType": "{{ $input.first().json.processType }}",
            "source": "={{ $input.first().json.source }}",
            "medium": "={{ $input.first().json.medium }}",
            "content": "={{ $input.first().json.content }}",
            "term": "={{ $input.first().json.term }}",
            "fbclid": "={{ $input.first().json.fbclid }}",
            "entryDate": "={{ $input.first().json.entryDate }}",
            "currentStep": "={{ $input.first().json.currentStep }}",
            "convertedAt": "={{ $input.first().json.convertedAt }}",
            "convertedTo": "={{ $input.first().json.convertedTo }}",
            "convertedId": "={{ $input.first().json.convertedId }}",
            "conversionPage": "={{ $input.first().json.conversionPage }}",
            "interactionType": "={{ $input.first().json.interactionType }}",
            "interactionSource": "={{ $input.first().json.interactionSource }}",
            "interactionDescription": "={{ $input.first().json.interactionDescription }}",
            "timeOnPage": "={{ $input.first().json.timeOnPage }}",
            "scrollPercentage": "={{ $input.first().json.scrollPercentage }}",
            "emailFunnelStatus": "={{ $input.first().json.emailFunnelStatus }}",
            "emailSequenceStep": "={{ $input.first().json.emailSequenceStep }}",
            "emailLastOpen": "={{ $input.first().json.emailLastOpen }}",
            "emailLastClick": "={{ $input.first().json.emailLastClick }}",
            "whatsappStatus": "={{ $input.first().json.whatsappStatus }}",
            "whatsappSequenceStep": "={{ $input.first().json.whatsappSequenceStep }}",
            "whatsappLastReply": "={{ $input.first().json.whatsappLastReply }}",
            "customFields": "={{ $input.first().json.customFields }}",
            "createdBy": "={{ $input.first().json.createdBy }}",
            "updatedBy": "enrichment_engine",
            "createdAt": "={{ $input.first().json.createdAt }}",
            "updatedAt": "={{ new Date().toISOString() }}"
          }
        },
        "options": {}
      },
      "id": "b123a915-73a3-41e0-97e6-77262b20ef13",
      "name": "Update Lead",
      "type": "n8n-nodes-base.postgres",
      "typeVersion": 2.5,
      "position": [
        -288,
        224
      ],
      "credentials": {
        "postgres": {
          "id": "V6Wg0EpZSpeIWJlp",
          "name": "PostgreSQL"
        }
      }
    }
  ],
  "connections": {
    "When Executed by Another Workflow": {
      "main": [
        [
          {
            "node": "Enrich Lead",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Enrich Lead": {
      "main": [
        [
          {
            "node": "Check Updates",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Check Updates": {
      "main": [
        [
          {
            "node": "Update Lead",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Save Enrichment Activity",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Save Enrichment Activity": {
      "main": [
        [
          {
            "node": "Execute Activity Logger",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Update Lead": {
      "main": [
        [
          {
            "node": "Save Enrichment Activity",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Execute Activity Logger": {
      "main": [
        [
          {
            "node": "Response Enrichment",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "pinData": {
    "When Executed by Another Workflow": [
      {
        "id": "e7853a6a-04fc-46b4-88ae-b714d6f1f74c",
        "businessId": "00000000-0000-0000-0000-000000000001",
        "visitorId": "11d81105-7b4d-4709-bc19-f1aa85f55973",
        "sessionId": "05040bb7-0ac6-4542-afdb-4eb4ae13ceeb",
        "formId": null,
        "formType": "thank_you_page",
        "email": null,
        "name": null,
        "phone": null,
        "company": null,
        "jobTitle": null,
        "status": "NEW",
        "stage": "PROSPECT",
        "score": 150,
        "isHot": true,
        "leadType": "conversion_detected",
        "campaignId": null,
        "campaignName": "direct",
        "processType": null,
        "source": "direct",
        "medium": "none",
        "content": null,
        "term": null,
        "fbclid": null,
        "entryDate": "2025-07-25T16:16:15.876Z",
        "currentStep": 0,
        "convertedAt": null,
        "convertedTo": null,
        "convertedId": null,
        "conversionPage": "https://nat-pets.com/thank-you",
        "interactionType": "thank_you_page",
        "interactionSource": "visitor-tracking",
        "interactionDescription": null,
        "timeOnPage": null,
        "scrollPercentage": null,
        "emailFunnelStatus": null,
        "emailSequenceStep": 0,
        "emailLastOpen": null,
        "emailLastClick": null,
        "whatsappStatus": null,
        "whatsappSequenceStep": 0,
        "whatsappLastReply": null,
        "customFields": {},
        "createdBy": null,
        "updatedBy": null,
        "createdAt": "2025-07-25T16:16:15.876Z",
        "updatedAt": "2025-07-25T16:16:15.876Z"
      }
    ]
  },
  "meta": {
    "templateCredsSetupCompleted": true,
    "instanceId": "334c1bc3f59651ead42f7f75537ccd47cfce8a8ad7f9b6a1f410e3671bf8aecf"
  }
}